qdrant-client[fastembed]
openai
cohere
langchain-text-splitters
unstructured[all-docs]
tenacity
pydantic
pypdf
requests
fastapi
uvicorn
python-dotenv
streamlit
pandas
ragas
datasets
langchain-groq
langchain-community
langsmith
